<body>
    <app-navbar></app-navbar>

        <p class="g-msg"> You're prompted to enter your email and your password reset link will be sent to your email. </p>
    <div class="container">
        <form class="form" [formGroup]="userForm">
            <label class="form-label"> Email: </label>
            <input type="email" formControlName="email">
            <div class="validation-err" *ngIf="userForm.controls['email'].invalid && (userForm.controls['email'].touched || userForm.controls['email'].dirty)">
                <span *ngIf="userForm.controls['email'].errors?.['required']"> Email is required. </span>
                <span *ngIf="userForm.controls['email'].errors?.['email']"> Enter a valid email. </span>
            </div>

            <br><br>
            <button type="submit" [disabled]="userForm.invalid" (click)="onSubmit(userForm)"> Submit </button>
        </form>
    </div>
</body>
